img {
     height: auto;
     width: 100%;
}
.img_dkt {
    height: auto;
    width: 100%;
}
.menu_hamb {
    align-self: center;
    height: auto;
    width: 100%;
}
.lupa {
    align-self: center;
    height: auto;
    width: 100%;
}