header {
    display: flex;
    padding: 20px;
    background-color: blueviolet;
    position:sticky;
    top: 0%;
     justify-content: space-between;
   }
.nav_header {
   display: none;
}
.header_logo {
    text-decoration: none;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    }
.desktop_title {
    display: none;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: black;
    }
    .title {
        font-size: xx-large;
    }
.lupa_login {
    display: flex;
    justify-content: right;
    background-color: white;
   }
button {
    display: flex;
    align-items: space-beetwen;
    border: solid; 
    
}
.buttonBurguer {
    
    height: 50px;
    width: 50px;
}
.lupaButton{
    height:60px;
    width: 50px;
}
.loginButton {
    height: 60px;
    width: 50px;
}
.daily_info {
    display: flex;
    padding: 20px;
    background-color: chocolate;
    text-align: center;
    justify-content: space-between;
}
.nav_bar{
     display: none;
}  
main {
    padding: 20px;
    background-color: cornflowerblue;
}
article {
   background-color: darkorange;
}

.main_news {
    display: flex;
    flex-direction: column;
}

.desktop_img {
    display: none;
}
.more_news_container {
    border: solid;
}
.more_news {
 background-color: deeppink;
 font-weight: bold;
 font-size: large;
}

footer {
    padding: 20px;
    background-color: darkkhaki;
}
@media only screen and (min-width: 720px) {
    .main_news {
        flex-direction: row-reverse;
    }
    img {
        width: 55%;
    }
    .more_news_container {
        display: flex;
        flex-direction: row;
        border: solid;
    }
    .nav_bar {
        display: flex;
     justify-content:center;
     background-color: cornflowerblue
     }   
    li {
        display: flex;
        list-style: none;
        background-color: rgb(217, 217, 235);
        padding-right: 20px;
        border: solid;
        margin-right: 10px;
         }
   }
    @media only screen and (min-width: 1200px){
        main {
            padding: 40px;
          
        }
        .main_news {
            display: flex;
            flex-direction: row-reverse;
           }
        .title_main_news{
            width: 33%;
            padding: 5px;
         }
      
                 
         .desktop_img {
         display: block;
         width: 33%;
         padding: 5px;
                }
       .header_logo {
            display: none;
        }
        .nav_header {
            display: block;
            display: flex;
            justify-content: space-between;
           }
        li {
            display: flex;
            list-style: none;
            background-color: white;
            padding-right: 20px;
            border: solid;
            margin-right: 10px;
             }
        .desktop_title {
            display: block;
        }
        .daily_info {
            position: sticky;
            top: 0%;
        }
    }